
body {

  height: 500px;

}

.MainTweet {

  margin: 15%;
  border-width: 2px;
  border-color: rgb(217, 226, 233);
  border-radius: 5px;
  border-style:  solid;
  height: 33%;

}

.ContainerTweet {

  height: 80%;
  padding: 5%;


}

/* HEADER TWEET */

.HeaderTweet {

  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  height: 44%;

}
.Header-Author {

  border-style: solid;
  border-color: black;
  border-width: 0.8px;
  width: 59%;
  height: 98%;
  float: left;


}

.Header-Follow {

  border-style: solid;
  border-color: black;
  border-width: 0.8px;
  height: 98%;
  width: 39%;
  float: left;
  overflow: auto;

}


.FollowButton {

/*
    color: green;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-color: black;
    position: absolute;
    */

}


/* BODY TWEET */

.BodyTweet {

  border-color: black;
  border-width: 0.1px;
  border-style:  solid;
  height: 54%;

}

.Body-Message {

  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  height: 31%;
  width: 99%;
  float: left;


}

.Body-Date{

  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  height: 31%;
  width: 99%;
  float: left;
  overflow: auto;

}

.Body-Stats{

  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  height: 31%;
  width: 99%;
  float: left;
  overflow: auto;

}
