
body {

  font-family: Helvetica;
  background: rgb(244, 248, 249)

}

.MainTweet {

  margin: 15%;
  border-width: 2px;
  border-color: rgb(217, 226, 233);
  border-radius: 5px;
  border-style:  solid;
  max-width: 550px;
  height:  230px;
  background: white;

}

.ContainerTweet {

  height: 80%;
  padding: 5%;

}

/* --------HEADER TWEET-------- */

.HeaderTweet {

  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  height: 44%;

}

/* ---AUTHOR--- */
.Header-Author {

  border-style: solid;
  border-color: black;
  border-width: 0.8px;
  width: 59%;
  height: 98%;
  float: left;

}

.UserAvatar {

  max-height: 100%;
  max-width: 25%;
  float: left;

}


.UserDetails{

  margin-left: 28%;
  margin-top: 5%;

}

.UserName {

  height: 49%;
  width: 74%;
  vertical-align: middle;
  float: left;
  margin-bottom: 3%;
  font-size: 130%;

}

.UserLogo {

  max-height: 20px;
  max-width: 20px;

}

.UserDirectory {

  height: 49%;
  width: 74%;
  color: rgb(104, 109, 129);

}


/* ---FollowTweet--- */



.Header-Follow {

  border-style: solid;
  border-color: black;
  border-width: 0.8px;
  height: 98%;
  width: 39%;
  float: left;
  overflow: auto;

}

.FollowButton {

    color: green;
    margin-left: 10%;
    margin-top: 2%;
    height: 70px;
    width: 165px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: rgb(85, 172, 238);

    border-style: solid;
    border-color: rgb(85, 172, 238);
    border-radius: 45px;

}





/* --------BODY TWEET-------- */

.BodyTweet {

  border-color: black;
  border-width: 0.1px;
  border-style:  solid;
  height: 54%;

}

/* ---Message--- */

.Body-Message {

  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  height: 31%;
  width: 99%;
  float: left;

}




/* ---Date--- */

.Body-Date{

  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  height: 31%;
  width: 99%;
  float: left;
  overflow: auto;

}

span#BodyDate {

  color: rgb(101, 116, 127);

}

/* ---Stats--- */

.Body-Stats {

  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  margin-top: 1%;
  height: 31%;
  width: 99%;
  float: left;
  overflow: auto;

}

.Reply {

  float:left;
  max-height: 60%;
  color: rgb(105, 120, 130);

}

.Retweet {

  float:left;
  max-height: 80%;
  margin-left: 5%;
  color: rgb(105, 120, 130);

}

.Favorites {

  float:left;
  max-height: 80%;
  margin-left: 5%;
  color: rgb(105, 120, 130);

}

img#ReplyImage {

  max-height: 29px;
  max-width: 19px;

}

img#RetweetImage {

  max-height: 29px;
  max-width: 19px;

}

img#FavoritesImage {

  max-height: 29px;
  max-width: 14px;

}
